html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1920px;
    max-width: 1920px;
    min-width: 1920px;
}

body {
    border: 40px dashed purple;  
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

html {
    display: table;
    margin: auto;
}

button[type="submit"] {
    font-size: 30px;
    font-weight: bolder;
    color: purple; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableview, .sizeSelect {
    margin-left: auto;
}

.language {
    font-size: 30px;
    font-weight: bolder;
    color: purple;
    height: 40px;
    width: 150px;
    box-sizing: border-box;
    display: inline-block; /* Add this line */
    margin-left: 4%;
}

.tableview {
    font-size: 30px;
    font-weight: bolder;
    color: purple;
    height: 40px;
    width: 170px;
    box-sizing: border-box;
    display: inline-block; /* Add this line */
}

.select {
    font-size: 23px;
    font-weight: bolder;
    color: rgb(15, 128, 0);
    height: 35px;
    width: 150px;
    box-sizing: border-box;
    display: inline-block; /* Add this line */
}

.layout {
    margin-right: 4.45%;
}


.title {
    font-size: 40px;
    font-weight: bolder;
    color: purple;
}

.titlestring {
    margin-left: 10vw;
    margin-right: 10vw;
}

.bordered {
    border: 5px solid purple;
    display: inline-block;
    padding: 5px;
    font-style: italic;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
textarea {
    width: 80vw; 
    height: 300px;  
    padding: 10px;
}
.output {
    width: 90%;
}

#textareaContainer {
    display: flex;
    justify-content: center; 
    width: 91.2%;
    margin-left: 4.4%;
}

.inputarea {
    width: 29.9%; 
    text-align: center;
}
