html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

button[type="submit"] {
    font-size: 30px;
    font-weight: bolder;
    color: purple; 
}

.select {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(15, 128, 0);
    height: 40px; /* Set the height */
    width: 150px; /* Set the width */
    padding-right: 2px; /* Remove padding */
    box-sizing: border-box; /* Include border and padding in element's total width and height */
}

.title {
    font-size: 40px;
    font-weight: bolder;
    color: purple;
}

.bordered {
    border: 5px solid purple;
    display: inline-block;
    padding: 5px;
    font-style: italic;
}

.labelwidth {
    width: 79.5%; 
}

body {
    border: 40px dashed purple; 
    padding: 20px; 
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
textarea {
    width: 79.4%; 
    height: 200px;
    padding: 10px;
}
@media only screen and (max-width: 599px) {
    input {
        width: 80%; 
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    input {
        width: 26.44%; 
        text-align: center;
    }
}
